# <span style="color:darkblue"> Lecture 15 - Practicing Chaining </span>

<font size = "5">

In this lecture you will get a chance to practice <br>
the main dataset operations

- There will be a quiz on this lecture

# <span style="color:darkblue"> I. Import Libraries and Data </span>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
results  = pd.read_csv("data_raw/results.csv")
races    = pd.read_csv("data_raw/races.csv")
results["points col"] = results["points"]

# <span style="color:darkblue"> II. Review of Diagnostic Commands </span>

<font size = "5">

More details ...

https://www.w3schools.com/python/pandas/pandas_cleaning.asp

In [4]:
# (a) Count number of observations
n_total   = len(results)

# (b) Count non-missing observations
n_nonmiss = results["points"].count()

# (b) Get column names
list_names = results.columns.names

# (c) Unique values
list_ids   = pd.unique(results["constructorId"])

# <span style="color:darkblue"> II. Examples of Dataset Operations </span>

<font size = "5">

Full list of commands here:

https://www.w3schools.com/python/pandas/pandas_ref_dataframe.asp

<font size = "5">

```[] ```: Extracting columns

In [6]:
subset_cols = results[["constructorId","points","laps"]]
subset_cols

       constructorId  points  laps
0                  1    10.0    58
1                  2     8.0    58
2                  3     6.0    58
3                  4     5.0    58
4                  1     4.0    58
...              ...     ...   ...
25835            210     0.0    57
25836            210     0.0    57
25837            131     0.0    55
25838              3     0.0    55
25839            214     0.0    27

[25840 rows x 3 columns]

<font size = "5">

```.query() ```: Filtering a subset of rows

In [9]:
lower_value          = 20
subset_row_text      = races.query('name == "Australian Grand Prix"')
subset_row_ineq      = results.query('(points >= 20) & (points <= 30)')
subset_row_global    = results.query('(points >= @lower_value)')
subset_row_colspaces = results.query('(`points col` >= @lower_value)')

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,points col
20320,20323,337,4,6,8,3,1,1,1,25.0,49,1:39:20.396,5960396,45,1,1:58.287,191.706,1,25.0
20344,20347,338,18,1,1,4,1,1,1,25.0,58,1:33:36.531,5616531,52,6,1:29.291,213.804,1,25.0
20368,20371,339,20,9,5,3,1,1,1,25.0,56,1:33:48.412,5628412,53,6,1:37.813,204.009,1,25.0
20392,20395,340,18,1,1,5,1,1,1,25.0,56,1:46:42.163,6402163,14,4,1:42.886,190.731,1,25.0
20416,20419,341,17,9,6,1,1,1,1,25.0,66,1:35:44.101,5744101,62,2,1:24.828,197.552,1,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25740,25746,1092,830,9,1,1,1,1,1,25.0,28,3:01:44.004,10904004,10,4,1:44.911,199.266,1,25.0
25760,25766,1093,830,9,1,2,1,1,1,25.0,56,1:42:11.687,6131687,37,2,1:39.541,199.383,1,25.0
25780,25786,1094,830,9,1,1,1,1,1,25.0,71,1:38:36.729,5916729,36,4,1:22.046,188.850,1,25.0
25800,25806,1095,847,131,63,1,1,1,1,26.0,71,1:38:34.044,5914044,61,1,1:13.785,210.237,1,26.0
25820,25826,1096,830,9,1,1,1,1,1,25.0,58,1:27:45.914,5265914,54,6,1:29.392,212.676,1,25.0

<font size = "5">

```.recode() ```: Replacing values

In [28]:
results   = results.replace(to_replace = ["UK","USA"],
                            value = ["United Kingdom","United States"])

<font size = "5">

```.groupby().agg() ```: Aggregate statistics by subgroup

In [31]:
results_agg = results.groupby("driverId").agg( median_points = ("points","median"))

<font size = "5">

```.rename() ```: Change name of columns

In [35]:
races_rename = races.rename(columns = {"name": "new_name"})